.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

#thredTitle {
  width: 20%;
  color: gray;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.message {
  color: black;
}

.error-message {
  color: red;
  font-weight: bold;
}
